@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f1fbff;
}
.section-padding {
  padding: 50px 0;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
  margin-left: 20%;
}

.carousel-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  height: 65%;
}
.dept-name {
  font-weight: 700;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  margin-top: 10px;
}
.small-image {
  width: 200px;
}

.medium-image {
  width: 300px;
  height: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  margin-top: 10px;
}
.sponsors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.button_register {
  margin-top: 20px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.events-img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.navbar .getstarted {
  background: #106eea;
  margin-left: 30px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  line-height: 2.3;
}
.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-light .navbar-brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #000;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}
.w-100 {
  height: 100vh;
}
.bg-image {
  object-fit: cover;
}
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}
.portfolio .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
  font-size: 50px;
}
.team .card-body i {
  font-size: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    /* bottom: 370px; */
  }
  .carousel-caption p {
    width: 100%;
  }
  .card {
    margin-bottom: 30px;
  }
  .img-area img {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .dept-name {
    margin-top: 20px;
  }
  .mg > div > div > h5 {
    margin-top: 15px;
  }
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    /* bottom: 125px; */
  }
  .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-caption a {
    /* padding: 10px 15px; */
    font-size: 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
  .about-text {
    padding-top: 50px;
  }

  .card {
    margin-bottom: 30px;
  }
  .bg-image {
    object-fit: cover;
  }
  .button_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#myVideo {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
  top: 16px;
  left: 0;
  object-fit: cover;
}

.top-container {
  position: relative;
  margin-top: 40px;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container-div {
  margin-top: 150px;
}

.top-image {
  width: 100%;
}

.register-btn {
  width: fit-content !important;
}

.logo {
  color: white;
}

.top-text {
  color: #ffd700;
  font-family: "Playfair serif";
  font-size: 35px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.register_button {
  color: #000;
  text-decoration: none;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.countdown-main {
  background-image: url("https://wallpapercave.com/wp/wp3264044.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-main > h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-text {
  font-size: 4rem;
  color: #fff;
}
.small-text {
  color: #fff;
}

.title-text {
  font-weight: bold;
}

.countdown-container > div {
  margin: 0 2rem;
  text-align: center;
  border: 2px solid #fff;
  padding: 0px 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #fff;
  min-width: 150px;
}
@media (max-width: 992px) {
  .countdown-container > div {
    margin: 0 1rem;
  }
}
@media (max-width: 767px) {
  .countdown-container {
    flex-wrap: wrap;
  }
  .countdown-container > div {
    margin: 1rem auto;
    max-width: 150px;
  }
  .medium-image {
    width: 130px;
    height: 90px;
  }
  .sponsors-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .navbar-brand {
    margin-left: 20%;
  }
  .top-image {
    margin-left: 10%;
    width: 80%;
  }
  .top-text {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .top-container {
    height: 70vh;
  }
  .hod-text {
    font-size: 25px;
    font-weight: bolder;
  }
  .navbar .container,
  .navbar .container-fluid,
  .navbar .container-lg,
  .navbar .container-md,
  .navbar .container-sm,
  .navbar .container-xl {
    margin-left: 0;
  }
  .top-container-div {
    margin-top: 220px;
  }
}

@media (max-width: 300px) {
  .navbar-brand {
    margin-left: 0;
  }
}
